:root {
    --bg-color: #607d8b;
    --results-bg-color: #78909c;
    --results-block-bg-color: #546e7a;
    --results-block-bg-color-hover: #688797;
    --results-block-bg-color-select: #5b7881;
    --results-block-bg-color-select-hover: #6c8e9c;
    --text-color: #e0f7fa;
    --border-color: #90a4ae;
    --shadow-color: rgba(94, 76, 0, 0.5);
    --placeholder-color: #90a4ae;
    --hover-color: #e0f7fa;
    --path-text-color: #b0bec5;
    --highlight-color: #a7ffeb;
    
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    background-color: var(--bg-color);
    padding: 10px;
    border: 1px solid var(--border-color)
}

#container {
    /* margin: 1em; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
    overflow: hidden;
}
#container #search {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 1fr; 
    grid-template-rows: 100%;

    z-index: 2;
    overflow: hidden;
}

#container #search img {
    width: 100%;
    height: 100%;
    /* svg drop shadow */
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));

    z-index: 2;
}

.input-container {
    overflow: hidden;
}

.highlight-key {
    background-color: #ababab70;
    color: rgba(255, 255, 255, 0);
    padding: 2px;
    border-radius: 3px;
    display: block;
    width: fit-content;
    font-size: 1em;
    height: fit-content;
    overflow: hidden;
}

#highlight-key {
    position: absolute;
    top: 9%;
    transform: translate(0, -50%);
    width: fit-content;
    height: 100px;
    background-color: rgba(211, 211, 211, 0);
    display: flex;
    justify-content: left;
    align-items: center;
    flex-wrap: nowrap;
    pointer-events: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    color: transparent;
    font-size: 2em;
    overflow: hidden;
}

#container #search input {
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: left;
    vertical-align: bottom;
    color: var(--text-color);
    /* 
        cool search
    */

    background-color: transparent;
    border: none;
    border-bottom: 2px solid #535353;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;

    z-index: 2;
}

#container .keyword {
    background-color: seagreen;
}

#container #search input::placeholder {
    /* italic */
    font-style: italic;
    color: #2c2c2c;
}

/* focus */
#container #search input:focus {
    outline: none;
    border-bottom: 5px solid var(--hover-color);
}

#container #gradiant-up {
    /* z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,0.8) 0%, rgba(0,0,0,0) 100%);
    overflow: hidden;
    margin: 0;
    padding: 0; */
}

#results {
    background-color: var(--results-bg-color);
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    align-items: left;
    overflow: auto;
    /* scrollbar */
    scrollbar-width: thin;
    scrollbar-color: var(--hover-color) var(--bg-color);
    /* inverse box shadow */
    box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.8);
    /* border: 2px solid var(--border-color); */
    z-index: 3;
}

#results .block {
    display: grid;
    grid-template-columns: 50px 1fr;
    grid-template-rows: 1fr;
    width: 100%;
    height: fit-content;
    margin: 10px;
    padding: 10px;
    background-color: var(--results-block-bg-color);
    border: 2px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.8);
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

    z-index: 1;
}

#results .block:hover,
#results .selected {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}

#results .block:hover {
    transform: scale(1.01);
    background-color: var(--results-block-bg-color-hover);
    cursor: pointer;
}

#results .block.selected {
    transform: scale(1.02);
    background-color: var(--results-block-bg-color-select);
}

#results .block:hover.selected {
    transform: scale(1.025);
    background-color: var(--results-block-bg-color-select-hover);
}

#results .block .info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 100%;
    margin: 0 0 0 10px;
    padding: 0;
    align-items: center
}

#results .block .info span.highlight {
    font-weight: bold;
    color: var(--highlight-color);
    /* font-style: italic; */
}

#results .block .info p {
    font-size: 0.9em;
    color: var(--path-text-color);
    text-align: left;
    vertical-align: bottom;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
}

#results .block .info h2 {
    font-size: 1.5em;
    color: var(--text-color);
    text-align: left;
    vertical-align: middle;
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: break-all;
    margin: 0;
    padding: 0;
}

#results img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#results .getting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    transition: 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);
}

/* #results .block:hover {
    border: 2px solid var(--hover-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
} */

#results .block:focus {
    border: 2px solid var(--hover-color);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.8);
}
