:root {
    --bg-color: #3d3d3d;
    --text-color: #fff;
    --border-color: #747474;
    --shadow-color: rgba(0, 0, 0, 0.8);
    --placeholder-color: #2c2c2c;
    --hover-color: #ffffff;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--bg-color);
    padding: 10px;
    border: 2px solid var(--border-color)
}

#container {
    /* margin: 1em; */
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 15% 85%;
}

#container #search {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 10% 1fr; 
    grid-template-rows: 100%;
}

#container #search img {
    width: 100%;
    height: 100%;
    /* svg drop shadow */
    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.8));
}

#container #search input {
    width: 100%;
    height: 100%;
    font-size: 2em;
    text-align: left;
    vertical-align: bottom;
    color: var(--text-color);
    /* 
        cool search
    */

    background-color: transparent;
    border: none;
    border-bottom: 2px solid #535353;
    transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
    outline: none;
}



#container #search input::placeholder {
    /* italic */
    font-style: italic;
    color: #2c2c2c;
}

/* focus */
#container #search input:focus {
    outline: none;
    border-bottom: 5px solid var(--hover-color);
}