:root {
    --scale: 160%;
    /* --scale-hover: 3.5; */
}

h1 {
    font-family: 'Dosis', sans-serif;
    padding-bottom: 10px;
    color: #333;
    text-align: center;
    padding-top: 10px;
  }
  .description{
    margin:20px;
    font-size:15px;
    display:block;
    text-align:center;
  }
  p{padding:0px;margin:4px;}
  
  .search-wrapper {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    top: -6px;
    left: -10px;
   /*  background-color: #555;
    border-radius:5px;
    box-shadow:0 0 3px #000 inset; */
  }
  input.ajax-search{
    height:30px;
    width:100px;
    cursor:none;
     -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     filter: grayscale(100%);
    color:rgba(0,0,0,.5);
  }
  .search-loader {
    cursor:auto;
    position: absolute;
    text-align: center;
    font-size:12px;
    transform: scale(var(--scale));
    /* top:0;
    margin-top:-5px; */
  }
  
  input.ajax-search:after,
  input.ajax-search:before{
    content:"what";
    position:absolute;
    top:0;
    left:50%;
    color:#000;
    text-index:0;
  }
  
  input.ajax-search:after,
  input.ajax-search:before,
  .search-loader.loading .search__circle
  {
    /* opacity:.5; */
    z-index: 10;
  }
  
  input.ajax-search:before,
  .search__circle {
    width: 1em;
    height: 1em;
    border: .2em solid #333;
    border-radius: 1em;
    transition:.3s;
    position: relative;
    z-index: 10;
  }
  input.ajax-search.loading:before,
  .loading .search__circle{
    border-left-color:#eee;
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
  }
  
  input.ajax-search:after,
  .search__rectangle {
    position: absolute;
    left:1em;
    margin-top:-.2em;
    width: .6em;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    border: .2em solid #333;
    border-radius: 0px 3px 3px 0px;
  }
  @-webkit-keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }
  @keyframes load8 {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
  }